<!DOCTYPE html>
<html>
  {% load static %}
  <head>
    <!-- Title -->
    <title>
      {% block title %}Sistema Escola{% endblock %}
    </title>

    <!-- Favicon -->

    <!-- Arquivos CSS -->


    <!-- Bloco de Estilos -->
    {% block styles %}{% endblock %}
  </head>

  <body>
    
    <nav>
        <a href="{% url 'escola:index' %}">Home</a>|
        <a href="{% url 'escola:list-turmas' %}">Lista de turmas</a>|
        <a href="{% url 'escola:list-professores' %}">Lista de Professores</a>|
        {% if user.profile_escola.is_aluno %}
        <a href="{% url 'escola:list-materias' user.aluno.turma.id %}">Materias</a>|
        <a href="{% url 'escola:list-tarefa' user.aluno.turma.id %}">Tarefas</a>|
        {%endif%}
        {% if user.is_authenticated%}
        Ola, {{user.username}}, <a href="{% url 'logout'%}">Sair</a>, <a href="{% url 'password_change'%}">Alterar senha</a>|
        Você tem {{user.profile_escola.template_data.notificacao_count}} notificações. <!--TODO: Ajeitar o plural dinamico das notificações -->
        {% endif %}
    </nav>
      
    <!-- Bloco de conteúdo -->
    {% block conteudo %}{% endblock %}

    <!-- Bloco de scripts -->
    {% block scripts %}{% endblock %}

    <!-- Scripts.js -->
    
  </body>
</html>