{% extends "escola/base.html" %}

{% load crispy_forms_tags %}
{% load sekizai_tags %}

{%block title%}Medusa II{%endblock%}

{% block conteudo %}
  {% block preform %}{% endblock preform %}

  {% block form %}
    {% crispy form %}
  {% endblock form %}
  {% addtoblock "js" %}
  <script>
  let element = document.getElementsByClassName('markdownx');

  Object.keys(element).map(key =>

      element[key].addEventListener('markdownx.update', event => MathJax.Hub.Queue(["Typeset",MathJax.Hub]))

  );
  </script>
  {% endaddtoblock %}
  {% addtoblock "js" %}
  {{ form.media.js }}
  {% endaddtoblock %}
  {% addtoblock "css" %}
  {{ form.media.css }}
  {% endaddtoblock %}
  {% block posform %}{% endblock posform %}
{% endblock %}
