{% extends "escola/base.html" %}

{%load dict_key markdown panels %}


{% block title %} {{conteudo.nome}} {% endblock %}


{% block conteudo %}
{% if is_owner %} <!--Verifica se o user é o professor-->
  {% if materias__len == 0 %}
        <div class="alert alert-danger" role="alert">
          <h4 class="alert-heading"><i class="fas fa-exclamation-triangle"></i>
          Sem materias!</h4>
          <p>Este conteúdo não foi registrado em nenhuma materia!
          Lembre-se de sempre registrar conteudos em materias, pois é assim que
          você permite aos seus alunos vê-la. Use o botão abaixo, e selecione a
          que turmas você quer adiciona-la.</p>
          <hr>
          <a href="javascript:alert('Desculpe-me, mas essa função ainda não foi escrita')" class="btn btn-primary">Adicionar à materias</a> <!--FIXME Faça este botão funcionar-->
        </div>
      {% else %}
        <div class="alert alert-success" role="alert">
          <h4 class="alert-heading">Este conteudo está sendo apreciado! 
          <i class="far fa-smile"></i></h4>
          <p>Agradecemos por ter adicionado este conteudo, muitos alunos, com
          toda a certeza, estão aproveitando esta fonte de conhecimento
          (bem, talvez não, mas é sempre bom ter esperança, não é mesmo?). 
          Continue adicionando conteúdos, links, e outros; tudo para melhorar a
          educação</p>
          <hr>
          <strong>Veja as matarias e turmas que tem acesso:</strong>
          <ul>
            {% for materia in materias %}
              <li>{{materia}}</li>
            {% endfor %}
          </ul>
          <a href="javascript:alert('Desculpe-me, mas essa função ainda não foi escrita')" class="btn btn-primary">Adicionar à materias</a> <!--FIXME Faça este botão funcionar-->
        </div>
      {% endif %}
    
{% endif %}


  <div class="jumbotron">

    <h1 class="display-4">{{conteudo.nome}}</h1>
    <p class="lead">{{conteudo.descricao|md}}</p>
  </div>
  <hr/>

  {%if conteudo.professor == user.professor%}
      <a href="{%url 'escola:add-link-conteudo' conteudo.pk%}" class="btn btn-primary">Novo Link</a>
  {%endif%}

  {% for categoria in categorias%}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title" style="color: {{categoria.obj.cor}}"> {{categoria.obj.nome}} </h2>
      {%if conteudo.professor == user.professor%}
      <a href="{%url 'escola:add-link-conteudo' conteudo.pk categoria.obj.id%}" class="btn btn-primary">Novo Link</a>
      {%endif%}
      <div class="list-group">
        {%for link in categoria.links%}
        {% link_conteudo link %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
{% endblock %}