{% extends "escola/base.html" %}

{%load dict_key markdown panels %}


{% block title %} {{conteudo.nome}} {% endblock %}


{% block conteudo %}
<div class="container">
  <div class="jumbotron">

    <h1 class="display-4">{{conteudo.nome}}</h1>
    <p class="lead">{{conteudo.descricao|md}}</p>
  </div>
  <hr/>

  {%if conteudo.professor == user.professor%}
      <a href="{%url 'escola:add-link-conteudo' conteudo.pk%}" class="btn btn-primary">Novo Link</a>
  {%endif%}

  {% for categoria in categorias%}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title" style="color: {{categoria.obj.cor}}"> {{categoria.obj.nome}} </h2>
      {%if conteudo.professor == user.professor%}
      <a href="{%url 'escola:add-link-conteudo' conteudo.pk categoria.obj.id%}" class="btn btn-primary">Novo Link</a>
      {%endif%}
      <div class="list-group">
        {%for link in categoria.links%}
        {% link_conteudo link %}
        {% endfor %}
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}