{% extends "escola/base.html" %}
<!--FIXME Implementar permissões melhoradas-->
{%load dict_key %}
{% block title %} Home {% endblock %}


{% block conteudo %}

{%if user.profile_escola.template_data.notificacao_count > 0 %}

<article>
    <h2>Notificações</h2>

    {% for noti in user.profile_escola.template_data.notificacoes%}
        {% if noti.link%} <a href="{{noti.link}}">{%endif%}
        <h3>{{noti.title}}</h3>
        <p>{{noti.msg}}</p>
    {% if noti.link%} </a>{%endif%}
    {%endfor%}
    {{ user.profile_escola.read_all_notifications}}
</article>
{%endif%}


{% if request.user.profile_escola.is_aluno%}
<article>
    <h2>Horario:</h2>
{% mostra_horario_proprio user %}
</article>
<article>
    <h2>Proximas tarefas</h2>
    {%if perms.escola.can_add_tarefa%}
        <a href="{% url 'escola:add-tarefa' turma.pk %}">Adicionar Tarefa</a>
    {%endif%}

    <table>
    <tr>
        <th>Titulo</th>
        <th>Materia</th>
        <th>Tipo</th>
        <th>Descrição</th>
        <th>Data de Entrega</th>
        <th>Concluido</th>
        <th>Marcar como concluido</th>
        {%if perms.escola.can_edit_cargo%}
        <th></th>
        {%endif%}
        {%if perms.escola.can_delete_cargo%}
        <th></th>
        {%endif%}
    </tr>
    {%for tarefa in tarefas%}
        <tr>
            <th>{{tarefa.0.titulo}}</th>
            <th>{{tarefa.0.materia}}</th>
            <th>{{tarefa.0.get_tipo_display}}</th>
            <th>{{tarefa.0.descricao|truncatechars:30}}</th>
            <th>{{tarefa.0.deadline}}</th>
            <th>{{tarefa.1.completo|yesno:"Sim,Não,Hmmm:("}}</th>
            <th><a href="{% url 'escola:concluir-tarefa' tarefa.0.pk %}">CONCLUIR</a></th>
            {%if perms.escola.can_edit_cargo%}
            <th><a href="{% url 'escola:edit-tarefa' tarefa.0.pk %}">EDIT</a></th>
            {%endif%}
            {%if perms.escola.can_delete_cargo%}
            <th><a href="{% url 'escola:delete-tarefa' tarefa.0.pk %}">DELETE</a></th>
            {%endif%}
        </tr>
    {%endfor%}
    </table>
</article>
<article>
    <h2>Proximas Provas:</h2>
    Não Implementado
</article>
{%endif%}

{% endblock %}