{% extends "escola/base.html" %}


{% block title %} Sobre {% endblock %}


{% block conteudo %}
<!--TODO: escrever uma boa pagina About-->
<h1>Sobre</h1>
<p>Olá, somos os criadores deste site, eu sou Albert Angel Lanzarini,
     da turma 101, e meu colega, o responsável pela maravilha que desfrutam,
      é Vinicius José Fritzen da 204, ele é um excelente programador
       e fez este site com muita disposição e paciência, enquanto eu
        cuido de partes como esta. </p>
<p>Houve grande aguardo pelo lançamento do site,
     começamos a prepará-lo em Janeiro, para ser sincero nossa primeira conversa
      foi logo após meus votos de ano novo, dia primeiro… conversamos muito,
       debatemos ideias e decidimos as primeiras funções, que são as que hoje
        vocês têm acesso, estivemos muito ansiosos e cuidamos de todos os detalhes
         possíveis para que vocês possam utilizar esta ferramenta a seu favor e melhorar
          suas aulas, antes e após também. </p>
<p>Tivemos muitas ideias para a construção do site, suas funções e opções, aderimos a maioria,
     algumas ficaram de fora e outras foram reservadas para o futuro… ainda assim pedimos que qualquer
      sugestão que tiverem, nos procurem na escola, falam, sugiram, teremos grande satisfação
       em receber <em>Feedbacks</em>.</p>
     <p>Por fim, nosso objetivo é poder ajudá-lo nos seus estudos e aprendizado, na sua organização e informação para com datas importantes, para que então tenha um melhor proveito do ensino que pode ser adquirido por você na escola.</p>
     <p>Bons estudos!</p>

{% endblock %}
