# See the name for you IDE
.idea
# If you are using sqlite3
*.sqlite3
*db
# Name of your virtuan env
.vEnv
*pyc
.env
/htmlcov/
.coverage
escola/tests/htmlcov
*.log
/Logs/Screenshots/
/escola/tests/features/htmlcov/
/escola.tests.test_functional/
/venv/
/escola/tests/prova_marcada/htmlcov/
/escola.tests.prova_marcada.test_prova_marcadas_functional/
staticfiles/admin/css/autocomplete.css
staticfiles/admin/css/changelists.css
staticfiles/admin/css/dashboard.css
staticfiles/admin/css/fonts.css
staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
staticfiles/admin/css/vendor/select2/select2.css
staticfiles/admin/css/vendor/select2/select2.min.css
staticfiles/admin/css/widgets.css
staticfiles/admin/img/calendar-icons.svg
staticfiles/admin/img/icon-addlink.svg
staticfiles/admin/img/icon-alert.svg
staticfiles/admin/img/icon-calendar.svg
staticfiles/admin/img/icon-changelink.svg
staticfiles/admin/img/icon-clock.svg
staticfiles/admin/img/icon-deletelink.svg
staticfiles/admin/img/icon-no.svg
staticfiles/admin/img/icon-unknown-alt.svg
staticfiles/admin/img/icon-unknown.svg
staticfiles/admin/img/icon-viewlink.svg
staticfiles/admin/img/icon-yes.svg
staticfiles/admin/img/inline-delete.svg
staticfiles/admin/img/LICENSE
staticfiles/admin/img/README.txt
staticfiles/admin/img/search.svg
staticfiles/admin/img/selector-icons.svg
staticfiles/admin/img/sorting-icons.svg
staticfiles/admin/img/tooltag-add.svg
staticfiles/admin/img/tooltag-arrowright.svg
staticfiles/admin/js/actions.js
staticfiles/admin/js/actions.min.js
staticfiles/admin/js/admin/RelatedObjectLookups.js
staticfiles/admin/js/autocomplete.js
staticfiles/admin/js/calendar.js
staticfiles/admin/js/cancel.js
staticfiles/admin/js/change_form.js
staticfiles/admin/js/core.js
staticfiles/admin/js/inlines.js
staticfiles/admin/js/inlines.min.js
staticfiles/admin/js/jquery.init.js
staticfiles/admin/js/popup_response.js
staticfiles/admin/js/prepopulate.js
staticfiles/admin/js/prepopulate.min.js
staticfiles/admin/js/prepopulate_init.js
staticfiles/admin/js/SelectBox.js
staticfiles/admin/js/timeparse.js
staticfiles/admin/js/urlify.js
staticfiles/admin/js/vendor/jquery/LICENSE.txt
staticfiles/admin/js/vendor/select2/i18n/ar.js
staticfiles/admin/js/vendor/select2/i18n/az.js
staticfiles/admin/js/vendor/select2/i18n/bg.js
staticfiles/admin/js/vendor/select2/i18n/ca.js
staticfiles/admin/js/vendor/select2/i18n/cs.js
staticfiles/admin/js/vendor/select2/i18n/da.js
staticfiles/admin/js/vendor/select2/i18n/de.js
staticfiles/admin/js/vendor/select2/i18n/el.js
staticfiles/admin/js/vendor/select2/i18n/en.js
staticfiles/admin/js/vendor/select2/i18n/es.js
staticfiles/admin/js/vendor/select2/i18n/et.js
staticfiles/admin/js/vendor/select2/i18n/eu.js
staticfiles/admin/js/vendor/select2/i18n/fa.js
staticfiles/admin/js/vendor/select2/i18n/fi.js
staticfiles/admin/js/vendor/select2/i18n/fr.js
staticfiles/admin/js/vendor/select2/i18n/gl.js
staticfiles/admin/js/vendor/select2/i18n/he.js
staticfiles/admin/js/vendor/select2/i18n/hi.js
staticfiles/admin/js/vendor/select2/i18n/hr.js
staticfiles/admin/js/vendor/select2/i18n/hu.js
staticfiles/admin/js/vendor/select2/i18n/id.js
staticfiles/admin/js/vendor/select2/i18n/is.js
staticfiles/admin/js/vendor/select2/i18n/it.js
staticfiles/admin/js/vendor/select2/i18n/ja.js
staticfiles/admin/js/vendor/select2/i18n/km.js
staticfiles/admin/js/vendor/select2/i18n/ko.js
staticfiles/admin/js/vendor/select2/i18n/lt.js
staticfiles/admin/js/vendor/select2/i18n/lv.js
staticfiles/admin/js/vendor/select2/i18n/mk.js
staticfiles/admin/js/vendor/select2/i18n/ms.js
staticfiles/admin/js/vendor/select2/i18n/nb.js
staticfiles/admin/js/vendor/select2/i18n/nl.js
staticfiles/admin/js/vendor/select2/i18n/pl.js
staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
staticfiles/admin/js/vendor/select2/i18n/pt.js
staticfiles/admin/js/vendor/select2/i18n/ro.js
staticfiles/admin/js/vendor/select2/i18n/ru.js
staticfiles/admin/js/vendor/select2/i18n/sk.js
staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
staticfiles/admin/js/vendor/select2/i18n/sr.js
staticfiles/admin/js/vendor/select2/i18n/sv.js
staticfiles/admin/js/vendor/select2/i18n/th.js
staticfiles/admin/js/vendor/select2/i18n/tr.js
staticfiles/admin/js/vendor/select2/i18n/uk.js
staticfiles/admin/js/vendor/select2/i18n/vi.js
staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
staticfiles/admin/js/vendor/select2/LICENSE.md
staticfiles/admin/js/vendor/select2/select2.full.js
staticfiles/admin/js/vendor/select2/select2.full.min.js
staticfiles/admin/js/vendor/xregexp/LICENSE.txt
staticfiles/admin/js/vendor/xregexp/xregexp.js
staticfiles/admin/js/vendor/xregexp/xregexp.min.js
staticfiles/mptt/draggable-admin.css
staticfiles/mptt/draggable-admin.js
staticfiles/rest_framework/css/bootstrap-theme.min.css
staticfiles/rest_framework/css/bootstrap-tweaks.css
staticfiles/rest_framework/css/bootstrap.min.css
staticfiles/rest_framework/css/default.css
staticfiles/rest_framework/css/font-awesome-4.0.3.css
staticfiles/rest_framework/css/prettify.css
staticfiles/rest_framework/docs/css/base.css
staticfiles/rest_framework/docs/css/highlight.css
staticfiles/rest_framework/docs/css/jquery.json-view.min.css
staticfiles/rest_framework/docs/js/api.js
staticfiles/rest_framework/docs/js/highlight.pack.js
staticfiles/rest_framework/docs/js/jquery.json-view.min.js
staticfiles/rest_framework/fonts/fontawesome-webfont.svg
staticfiles/rest_framework/fonts/glyphicons-halflings-regular.svg
staticfiles/rest_framework/js/ajax-form.js
staticfiles/rest_framework/js/bootstrap.min.js
staticfiles/rest_framework/js/coreapi-0.1.1.js
staticfiles/rest_framework/js/csrf.js
staticfiles/rest_framework/js/default.js
staticfiles/rest_framework/js/jquery-3.3.1.min.js
staticfiles/rest_framework/js/prettify-min.js
staticfiles/taggit_labels/css/taggit_labels.css
staticfiles/taggit_labels/js/taggit_labels.js
staticfiles/admin/css/autocomplete.css
staticfiles/admin/css/changelists.css
staticfiles/admin/css/dashboard.css
staticfiles/admin/css/fonts.css
staticfiles/admin/css/vendor/select2/LICENSE-SELECT2.md
staticfiles/admin/css/vendor/select2/select2.css
staticfiles/admin/css/vendor/select2/select2.min.css
staticfiles/admin/css/widgets.css
staticfiles/admin/img/calendar-icons.svg
staticfiles/admin/img/icon-addlink.svg
staticfiles/admin/img/icon-alert.svg
staticfiles/admin/img/icon-calendar.svg
staticfiles/admin/img/icon-changelink.svg
staticfiles/admin/img/icon-clock.svg
staticfiles/admin/img/icon-deletelink.svg
staticfiles/admin/img/icon-no.svg
staticfiles/admin/img/icon-unknown-alt.svg
staticfiles/admin/img/icon-unknown.svg
staticfiles/admin/img/icon-viewlink.svg
staticfiles/admin/img/icon-yes.svg
staticfiles/admin/img/inline-delete.svg
staticfiles/admin/img/LICENSE
staticfiles/admin/img/README.txt
staticfiles/admin/img/search.svg
staticfiles/admin/img/selector-icons.svg
staticfiles/admin/img/sorting-icons.svg
staticfiles/admin/img/tooltag-add.svg
staticfiles/admin/img/tooltag-arrowright.svg
staticfiles/admin/js/actions.js
staticfiles/admin/js/actions.min.js
staticfiles/admin/js/admin/RelatedObjectLookups.js
staticfiles/admin/js/autocomplete.js
staticfiles/admin/js/calendar.js
staticfiles/admin/js/cancel.js
staticfiles/admin/js/change_form.js
staticfiles/admin/js/core.js
staticfiles/admin/js/inlines.js
staticfiles/admin/js/inlines.min.js
staticfiles/admin/js/jquery.init.js
staticfiles/admin/js/popup_response.js
staticfiles/admin/js/prepopulate.js
staticfiles/admin/js/prepopulate.min.js
staticfiles/admin/js/prepopulate_init.js
staticfiles/admin/js/SelectBox.js
staticfiles/admin/js/timeparse.js
staticfiles/admin/js/urlify.js
staticfiles/admin/js/vendor/jquery/LICENSE.txt
staticfiles/admin/js/vendor/select2/i18n/ar.js
staticfiles/admin/js/vendor/select2/i18n/az.js
staticfiles/admin/js/vendor/select2/i18n/bg.js
staticfiles/admin/js/vendor/select2/i18n/ca.js
staticfiles/admin/js/vendor/select2/i18n/cs.js
staticfiles/admin/js/vendor/select2/i18n/da.js
staticfiles/admin/js/vendor/select2/i18n/de.js
staticfiles/admin/js/vendor/select2/i18n/el.js
staticfiles/admin/js/vendor/select2/i18n/en.js
staticfiles/admin/js/vendor/select2/i18n/es.js
staticfiles/admin/js/vendor/select2/i18n/et.js
staticfiles/admin/js/vendor/select2/i18n/eu.js
staticfiles/admin/js/vendor/select2/i18n/fa.js
staticfiles/admin/js/vendor/select2/i18n/fi.js
staticfiles/admin/js/vendor/select2/i18n/fr.js
staticfiles/admin/js/vendor/select2/i18n/gl.js
staticfiles/admin/js/vendor/select2/i18n/he.js
staticfiles/admin/js/vendor/select2/i18n/hi.js
staticfiles/admin/js/vendor/select2/i18n/hr.js
staticfiles/admin/js/vendor/select2/i18n/hu.js
staticfiles/admin/js/vendor/select2/i18n/id.js
staticfiles/admin/js/vendor/select2/i18n/is.js
staticfiles/admin/js/vendor/select2/i18n/it.js
staticfiles/admin/js/vendor/select2/i18n/ja.js
staticfiles/admin/js/vendor/select2/i18n/km.js
staticfiles/admin/js/vendor/select2/i18n/ko.js
staticfiles/admin/js/vendor/select2/i18n/lt.js
staticfiles/admin/js/vendor/select2/i18n/lv.js
staticfiles/admin/js/vendor/select2/i18n/mk.js
staticfiles/admin/js/vendor/select2/i18n/ms.js
staticfiles/admin/js/vendor/select2/i18n/nb.js
staticfiles/admin/js/vendor/select2/i18n/nl.js
staticfiles/admin/js/vendor/select2/i18n/pl.js
staticfiles/admin/js/vendor/select2/i18n/pt-BR.js
staticfiles/admin/js/vendor/select2/i18n/pt.js
staticfiles/admin/js/vendor/select2/i18n/ro.js
staticfiles/admin/js/vendor/select2/i18n/ru.js
staticfiles/admin/js/vendor/select2/i18n/sk.js
staticfiles/admin/js/vendor/select2/i18n/sr-Cyrl.js
staticfiles/admin/js/vendor/select2/i18n/sr.js
staticfiles/admin/js/vendor/select2/i18n/sv.js
staticfiles/admin/js/vendor/select2/i18n/th.js
staticfiles/admin/js/vendor/select2/i18n/tr.js
staticfiles/admin/js/vendor/select2/i18n/uk.js
staticfiles/admin/js/vendor/select2/i18n/vi.js
staticfiles/admin/js/vendor/select2/i18n/zh-CN.js
staticfiles/admin/js/vendor/select2/i18n/zh-TW.js
staticfiles/admin/js/vendor/select2/LICENSE.md
staticfiles/admin/js/vendor/select2/select2.full.js
staticfiles/admin/js/vendor/select2/select2.full.min.js
staticfiles/admin/js/vendor/xregexp/LICENSE.txt
staticfiles/admin/js/vendor/xregexp/xregexp.js
staticfiles/admin/js/vendor/xregexp/xregexp.min.js
staticfiles/mptt/draggable-admin.css
staticfiles/mptt/draggable-admin.js
staticfiles/rest_framework/css/bootstrap-theme.min.css
staticfiles/rest_framework/css/bootstrap-tweaks.css
staticfiles/rest_framework/css/bootstrap.min.css
staticfiles/rest_framework/css/default.css
staticfiles/rest_framework/css/font-awesome-4.0.3.css
staticfiles/rest_framework/css/prettify.css
staticfiles/rest_framework/docs/css/base.css
staticfiles/rest_framework/docs/css/highlight.css
staticfiles/rest_framework/docs/css/jquery.json-view.min.css
staticfiles/rest_framework/docs/js/api.js
staticfiles/rest_framework/docs/js/highlight.pack.js
staticfiles/rest_framework/docs/js/jquery.json-view.min.js
staticfiles/rest_framework/fonts/fontawesome-webfont.svg
staticfiles/rest_framework/fonts/glyphicons-halflings-regular.svg
staticfiles/rest_framework/js/ajax-form.js
staticfiles/rest_framework/js/bootstrap.min.js
staticfiles/rest_framework/js/coreapi-0.1.1.js
staticfiles/rest_framework/js/csrf.js
staticfiles/rest_framework/js/default.js
staticfiles/rest_framework/js/jquery-3.3.1.min.js
staticfiles/rest_framework/js/prettify-min.js
staticfiles/taggit_labels/css/taggit_labels.css
staticfiles/taggit_labels/js/taggit_labels.js
escola/html_testplates/*
