{% extends "../base.html" %}

{%block conteudo%}

<h1>Listagem de Alunos da turma {{turma.numero}}</h1>
{%if perms.escola.can_add_aluno%}
    <a href="{% url 'escola:add-aluno' turma.pk %}">Adicionar Aluno</a>
{%endif%}

<table>
<tr>
    <th>Num.</th>
    <th>Nome de Usuario</th>
    <th>Nome</th>
    {%if perms.escola.can_edit_aluno%}
    <th></th>
    {%endif%}
    {%if perms.escola.can_delete_aluno%}
    <th></th>
    {%endif%}
</tr>
{%for aluno in alunos%}
<tr>
    <th>{{aluno.chamada}}</th>
    <th>{{aluno.user.username}}</th>
    <th>{{aluno.nome}}</th>
    {%if perms.escola.can_edit_aluno%}
    <th><a href="{% url 'escola:edit-aluno' aluno.pk %}">EDIT</a></th>
    {%endif%}
    {%if perms.escola.can_delete_aluno%}
    <th><a href="{% url 'escola:delete-aluno' aluno.pk %}">DELETE</a></th>
    {%endif%}
</tr>
{%endfor%}
</table>
{%endblock%}