{% extends "../base.html" %}

{%block conteudo%}

<div class="container">
<h1>Listagem de Professores</h1>
{%if perms.escola.can_add_professores%}
    <a href="{% url 'escola:add-professor' %}" class="btn btn-primary">Adicionar Professor</a><br><br>
{%endif%}
<div class="teble-responsive">
<table class="table table-striped">
<tr>
    <th>Nome de Usuario</th>
    <th>Nome</th>
    {%if perms.escola.can_edit_professor%}
    <th></th>
    {%endif%}
    {%if perms.escola.can_delete_professor%}
    <th></th>
    {%endif%}
</tr>
{%for prof in professores%}
<tr>
    <td>{{prof.user.username}}</td>
    <td>{{prof.nome}}</td>
    {%if perms.escola.can_edit_professor%}
    <td><a href="{% url 'escola:edit-professor' prof.pk %}"class="btn btn-primary">Editar</a></td>
    {%endif%}
    {%if perms.escola.can_delete_professor%}
    <td><a href="{% url 'escola:delete-professor' prof.pk %}" class="btn btn-danger">Apagar</a></td>
    {%endif%}
</tr>
{%endfor%}
</table>
    </div>
</div>
{%endblock%}