{% extends "escola/base.html" %}

{%load dict_key %}


{% block title %} Minhas Disciplinas {% endblock %}


{% block conteudo %}



<div class="container">

  <h1>Minhas Disciplinas</h1>

  <div class="table-responsive">
    <table class="table table-striped table-hover">
      <tr>
        <th>Nome</th>
        <th></th>
        <th></th>

        <th></th>
      </tr>
      {%for materia in materias%}
      <tr>
        <td><a href="{% url 'escola:detail-materia' materia.pk %}">{{materia}}</a></td>
        <td><a href="{%url 'escola:add-conteudo-materia' materia.pk%}" class="btn btn-primary">Adc. Conteudos</a></td>

      </tr>
      {%endfor%}
    </table>
  </div>
</div>

{% endblock %}