{% extends "escola/base.html" %}

{%load dict_key %}

{% load mptt_tags %}

{% block title %}  {% endblock %}


{% block conteudo %}

<div class="container">
  <h1>Meus Conteudos</h1>
  <div class="btns">
    <a href="{% url 'escola:conteudo_add'%}" class="btn btn-primary">Adicionar conteudo raiz</a>
  </div>
    <div class="list-group list-group-root well">
      {% recursetree conteudos %}
      <a href="{% url 'escola:conteudo-detail' node.pk%}" class="list-group-item">{{ node.nome }}</a>
      {% if not node.is_leaf_node %}
      <div class="list-group" style="padding-left:25px;">
        {{ children }}
        <a href="{% url 'escola:conteudo_add' node.pk%}" class="list-group-item"><i class="fas fa-plus-square" style="color:green"></i></a>
      </div>
      {%else%}
      <div class="list-group" style="padding-left:25px;">
        <a href="{% url 'escola:conteudo_add' node.pk%}" class="list-group-item"><i class="fas fa-plus-square" style="color:green"></i></a>
      </div>
      {% endif %}
      {% endrecursetree %}
    </div>
</div>

{% endblock %}