{% extends "../base.html" %}

{% load guardian_tags %}

{% load crispy_forms_tags %}
{% block conteudo %}
{% get_obj_perms user for turma as "turma_perm" %}
{# turnos , DIAS_DA_SEMANA , DIAS_DA_SEMANA_N, ta[dia][turno.cod]#}
<div class="container">
<div class="table-responsive">
<table class="table">
  <tr>
      <th></th>
      {%for d in DIAS_DA_SEMANA%}
         <th class="primary">>
          {{d}}
          </th>
      {%endfor%}
      
  </tr>
   {% for turno in turnos %}
    <tr>
        <th>{{turno.nome}}</th>
        {%for dia in DIAS_DA_SEMANA_N%}
        <td class="text-center">
            {%if dia == edit_dia and turno.cod == edit_turno%}
                {% crispy formset helper%}
            {%else%}

                {%dia_teste turno dia ta as verdade%}
            {%if verdade%}
                {%for p in range%}
                    {%get_p turno dia p ta%} <br/>
                {%endfor%}
            {%else%}
                <br/><br/>
                NADA
                <br/><br/><br/>
            {%endif%}
            {%endif%}
        </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
</div>
</div>

{%endblock%}