{%load dict_key %}
{% load guardian_tags %}
{% get_obj_perms user for turma as "turma_perm" %}
<div class="table-responsive">
<table class="table">
  <tr>
      <th></th>
      {%for d in DIAS_DA_SEMANA%}
         <th class="primary">
          {{d}}
          </th>
      {%endfor%}

  </tr>
   {% for turno in turnos %}
    <tr>
        <th class="text-center">{{turno.nome}}</th>
        {%for dia in DIAS_DA_SEMANA_N%}
        <td class="text-center">


           {%dia_teste turno dia ta as verdade%}
            {%if verdade%}
                {%for p in range%}
                    {%get_p turno dia p ta%} <br />
                {%endfor%}
                {%if 'editar_horario' in turma_perm%}
                <a href="{%url 'escola:alterar-horario' turma_pk turno.cod dia%}" class="btn btn-block btn-primary btn-sm">EDITAR</a>
                {%endif%}
            {%else%}
                <br/><br/>
                NADA
                <br/><br/><br/>
                {%if 'editar_horario' in turma_perm%}
                <a href="{%url 'escola:alterar-horario' turma_pk turno.cod dia%}" class="btn btn-block btn-primary btn-sm">EDITAR</a>
                {%endif%}
            {%endif%}
        </td>
        {%endfor%}
    </tr>
    {%endfor%}
</table>
</div>
