{% extends "../base.html" %}


{%block conteudo%}

<h1>Listagem de turmas</h1>
{%if perms.escola.can_add_turma%}
    <a href="{% url 'escola:add-turma' %}">Adicionar Turma</a>
{%endif%}

<table>
<tr>
    <th>Numero</th>
    <th>Ano</th>
    <th>Cargos</th>
    {%if perms.escola.can_edit_turma%}
    <th></th>
    {%endif%}
    {%if perms.escola.can_delete_turma%}
    <th></th>
    {%endif%}
    {%if perms.escola.can_populate_turma%}
    <th></th>
    {%endif%}
</tr>
{%for turma in turmas%}
<tr>
    <th>{{turma.numero}}</th>
    <th>{{turma.ano}}</th>
    <th><a href="{% url 'escola:list-cargos' turma.pk %}">CARGOS</a></th>
    {%if perms.escola.can_edit_turma%}
    <th><a href="{% url 'escola:edit-turma' turma.pk %}">EDIT</a></th>
    {%endif%}
    {%if perms.escola.can_delete_turma%}
    <th><a href="{% url 'escola:delete-turma' turma.pk %}">DELETE</a></th>
    {%endif%}
    {%if perms.escola.can_populate_turma%}
    <th><a href="{% url 'escola:populate-turma' turma.pk %}">POPULATE</a></th>
    {%endif%}
</tr>
{%endfor%}
</table>
{%endblock%}