<!DOCTYPE html>
<html lang="pt-br">
<!--
Dados necessarios:
    list_books => Lista de todos os livros cadastrados no sistema.

-->
<head>
    <meta charset="UTF-8">
    <title>Listagem de livros</title>
<link href="../../static/leituras/style.css" rel="stylesheet" type="text/css">
{%load static%}
<link href="{%static 'leituras/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
<section>
    <a href="{%url 'biblio:list_leituras'%}"> Ir para leituras</a>
    <a href="{%url 'biblio:series_list'%}"> Ir para series</a>
</section>
<section class="book">
	
</section>
<section class="book">
    <h1>Lista de Livros</h1>
    <p>  São {{list_books.count}} livros registados no sistemas</p>
    {%if list_books %}
    <table class="book_table"><tr class="list_heading">
        <th>Titulo</th>
        <th>Isbn</th>
        <th>Autor</th>
        <th>Páginas</th>
        <th>Editora</th>
        <th>Serie </th>
        <th> Ord. Serie</th>
        </tr>
        {%for book in list_books%}
            <tr>
				<th><a href="{%url 'biblio:livro_detalhes' book.id%}">{{book.titulo}}</a></th>
                <th>{{book.isbn}}</th>
                <th>{{book.autor}}</th>
                <th>{{book.paginas}}</th>
                <th>{{book.editora}}</th>
                <th>{%if book.serie%}{{book.serie}}{%endif%}
                </th>
                <th>{{book.nSerie}}</th>
            </tr>
        {%endfor%}
	</table>
    {%endif%}
    
</section>
</body>
</html>