{%extends 'leituras/base.html'%}
{%block title%}Leitura do livro {{leitura.livro|title}}{%endblock%}
{%block content%}
<section class="book">
		<h1>Leitura do livro<strong> <em><a href="{% url 'biblio:livro_detalhes' leitura.livro.pk  %}">
		
		{{leitura.livro|title}}</a></em></strong></h1>
		{%if leitura.is_iniciado%}
		<p>Status: {{leitura.status}}</p>
		<p>Data de inicio: {{leitura.get_data_inicio}}</p>
		<p>Porcentagem: {{leitura.get_porcentagem_leitura|floatformat}} %</p>
		<p>Pag. Atual/ Total:{{leitura.get_last_pagina}}/{{leitura.livro.paginas}}</p>
		<p>Data da ultima atualização: {{leitura.get_last_leitura.data}}</p>
		<p>Leitor: {{leitura.leitor}}</p>
		<form action="{%url 'biblio:leitura_atualizar' leitura.pk%}" method="post">
			{% csrf_token %}
			<fieldset>
			<legend>Atualizar leitura</legend>
			<label for="pagina">Pagina atual:</label>
			<input type="text" id="pagina" name="pagina">
			<input type="submit" value="Atualizar Leitura">
			</fieldset>
		</form>
		{%else%}
	<p>Essa leitura ainda não foi iniciada, e portando não possui atualizações. STATUS: Não iniciado.</p>
	<p>Leitor: {{leitura.leitor}}</p>
	<a href="{%url 'biblio:leitura_iniciar' leitura.pk%}">Iniciar leitura</a>
		{%endif%}
		{%if list_atualizacoes%}
  <h1>Lista de atualizações desta leitura</h1>
		<table class="book_table">
<!--		Headind	-->
			<tr>
				<td>Data da atualização</td>
				<td>Tipo da atualização</td>
				<td>Pagina</td>
			</tr>
<!--		Content	-->
		{%for l in list_atualizacoes%}
			<tr>
				<td>{{l.data}}</td>
				<td>{{l.get_tipo_display}}</td>
				<td>{{l.pagina}}</td>
			</tr>
			{%endfor%}
		</table>
		{%endif%}
</section>
</body>
</html>
{%endblock%}