{%extends 'leituras/base.html'%}
{%block title%}Listagem de leituras{%endblock%}
{%block content%}
<section class="book">
	<h1>Lista de leituras  </h1>
  <table class = "book_table">
<!--	HEADING-->
		<tr>
			<td>Livro</td>
			<td>Status</td>
			
			<td>Data de inicio</td>
			<td>(%)</td>
			<td></td>
			<td>Data de ultima atualização</td>
			<td>Leitor</td>
			<td></td>
		</tr>
<!--	Conteudo-->
	{%for l in leituras%}
		<tr>
			<td><a href="{%url 'biblio:livro_detalhes' l.livro.pk%}">{{l.livro}}</a></td>
			<td>{{l.status}}</td>
			{%if l.is_iniciado%}
			<td>{{l.get_data_inicio}}</td>
			<td>{{l.get_porcentagem_leitura|floatformat}} %</td>
			<td>{{l.get_last_pagina}}/{{l.livro.paginas}}</td>
			<td>{{l.get_last_leitura.data}}</td>
			
			{%else%}
			<td></td>
			<td></td><td></td>
			<td></td>
			{%endif%}
			<td>{{l.leitor}}</td>
			<td><a href="{%url 'biblio:leitura_detalhes' l.id%}">Acessar</a></td>
		</tr>
	{%endfor%}
  </table>
</section>
{%endblock%}
