<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>Documento sem título</title>
<link href="../../static/leituras/style.css" rel="stylesheet" type="text/css">
{%load static%}
<link href="{%static 'leituras/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body>
<section class="book">
	<h1>Serie {{serie.titulo}}</h1>
	<p>de <em>{{serie.autor}}</em></p>
	<p>Essa serie possui {{serie.get_livros.count}} livro{{serie.get_livros.count|pluralize}}.</p>
	<table class="book_table">
		<tr>
			<th>Titulo</th>
        	<th>Isbn</th>
        	<th>Autor</th>
        	<th>Páginas</th>
        	<th>Editora</th>
        	<th> Ord. Serie</th>
        </tr>
        {%for book in livros%}
            <tr>
				<th><a href="{%url 'biblio:livro_detalhes' book.id%}">{{book.titulo}}</a></th>
                <th>{{book.isbn}}</th>
                <th>{{book.autor}}</th>
                <th>{{book.paginas}}</th>
                <th>{{book.editora}}</th>
                <th>{{book.nSerie}}</th>
            </tr>
        {%endfor%}
	</table>
</section>
</body>
</html>
