<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

  <!-- Scripts.js -->
  <!--JQuerry-->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
          integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
          crossorigin="anonymous"></script>
    <!--Popper.js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
          integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
          crossorigin="anonymous"></script>
  <!--Bootstrap-->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
          integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
          crossorigin="anonymous"></script>


  <script>
  $(function () {
  $('[data-toggle="popover"]').popover()
  })
  </script>

  <!-- Arquivos CSS -->
  <!--Botstrap-->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <!--Fontawesome - go get icons in https://fontawesome.com -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
        integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body class="text-center" style="display: -ms-flexbox;  display: flex;  -ms-flex-align: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #f5f5f5;">
<!-- templates/registration/login.html -->

<div style="width: 100%;  max-width: 330px;  padding: 15px;  margin: auto;">
<h2>Medusa II</h2>
  <div class="alert alert-primary" role="alert">
    <p>Por favor, digite sua senha antiga, para sua segurança, e digite duas vezes a sua nova senha.</p>
  </div>

<form method="post" class="form-group">
  {% csrf_token %}
  <!--<ul>-->
      <!--{% for field in form %}-->
      <!--{% if field.errors %}-->
      <!--<div class="alert alert-danger" role="alert">-->
        <!--<button type="button" class="close" data-dismiss="alert">×</button>-->
        <!--<p>{{ field.errors|striptags }}</p>-->
      <!--</div>-->
      <!--{% endif %}-->
      <!--{{ field.label_tag }} {{ field }}-->
      <!--{% endfor %}-->
    <!--</ul>-->
  {% load crispy_forms_tags %}
  {{form|crispy}}
  <button type="submit" class="btn btn-lg btn-primary btn-block">Alterar</button>
</form>
</div>
</body>
</html>