{%load markdown %}
{%if default%}
<li  class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
        <a href="{{link.link}}">
      <h5 class="mb-1">{{link.titulo}}
        {%for tag in link.tags.names%}
        <span class="badge badge-secondary">{{tag}}</span>
        {%endfor%}</h5></a>
        {% if can_remove%}
        <a href="{%url 'escola:delete-link-conteudo' link.pk%}" class="btn btn-danger" aria-label="Remover">
            <span aria-hidden="true">&times;</span>
        </a>
        {%endif%}
    </div>
    <p class="mb-1">{{link.descricao|md}}</p>
    <small>{{link.link}}</small>
</a>
{%endif%}

{%if youtube%}
<li class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">{{link.titulo}}
        {%for tag in link.tags.names%}
        <span class="badge badge-secondary">{{tag}}</span>
        {%endfor%}</h5>
        {% if can_remove%}
        <a href="{%url 'escola:delete-link-conteudo' link.pk%}" class="btn btn-danger" aria-label="Remover">
            <span aria-hidden="true">&times;</span>
        </a>
        {%endif%}
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{y_id}}?rel=0" allowfullscreen></iframe>
    </div>
    <p class="mb-1">{{link.descricao|md}}</p>
</li>
{%endif%}
