{%load markdown %}
{%if default%}
<li  class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
        <a href="{{link.link}}">
      <h5 class="mb-1">{{link.titulo}}
        {%for tag in link.tags.names%}
        <span class="badge badge-secondary">{{tag}}</span>
        {%endfor%}</h5></a>
        {% if can_remove%}
        <a href="{%url 'escola:delete-link-conteudo' link.pk%}" class="btn btn-danger" aria-label="Remover">
            <span aria-hidden="true">&times;</span>
        </a>
        {%endif%}
    </div>
    <p class="mb-1">{{link.descricao|md}}</p>
    <small>{{link.link}}</small>
</a>
{%endif%}

{%if youtube%}
<li class="list-group-item list-group-item-action">
    <div class="d-flex justify-content-between">
      <h5 class="mb-1">{{link.titulo}}
        {%for tag in link.tags.names%}
        <span class="badge badge-secondary">{{tag}}</span>
        {%endfor%}</h5>
        {% if can_remove%}
        <a href="{%url 'escola:delete-link-conteudo' link.pk%}" class="btn btn-danger" aria-label="Remover">
            <span aria-hidden="true">&times;</span>
        </a>
        {%endif%}
    </div>
    <style>
            .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px; height: 0; overflow: hidden;
        }

        .video-container iframe,
        .video-container object,
        .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        }
    </style>
    <div class="video-container"><iframe width="853" height="480" src="https://www.youtube.com/embed/{{y_id}}" frameborder="0" allowfullscreen</iframe</div></iframe>
    <p class="mb-1">{{link.descricao|md}}</p>
</li>
{%endif%}
