{% load sekizai_tags %}

{% for tarefa in tarefas %}

{% if comp and tarefa.1.completo %}
 <div class="tarefa-item card text-white bg-dark" id="tarefa-{{tarefa.0.pk}}"> <!--Dark-->
    <h5 class="card-header tarefa-materia text-success" id="tarefa-{{tarefa.0.pk}}-materia">{{tarefa.0.materia|title}}</h5>
    <div class="card-body">
        <h5 class="tarefa-titulo text-success" id="tarefa-{{tarefa.0.pk}}-titulo">
                <i class="fas fa-check" id="tarefa-{{tarefa.0.pk}}-titulo-check"></i>
                <i class="fas fa-exclamation-triangle" id="tarefa-{{tarefa.0.pk}}-titulo-warn" style="display: none"></i>
                {{tarefa.0.titulo|title}}</h5>
                <p>{{tarefa.0.descricao|truncatechars:236}}</p>
        <!--236 caracteres-->
        <div class="btn-group">
            <a href="{% url 'escola:detalhes-tarefa' tarefa.0.pk %}" class="btn btn-primary">Ver...</a>
            <a href="{% url 'escola:concluir-tarefa' tarefa.0.pk %}" class="btn btn-success tarefa-item-concluir-btn" id="tarefa-{{tarefa.0.pk}}-concluir-btn" data-id-tarefa="{{tarefa.0.id}}">
                <i class="fas fa-check" id="tarefa-{{tarefa.0.pk}}-concluir-btn-check"></i>
                <span  id="tarefa-{{tarefa.0.pk}}-concluir-btn-text">Concluido</span></a>
        </div>
    </div>
    <div class="card-footer text-muted">
        Até {{tarefa.0.deadline}}
    </div>
</div>
<br />
{% else %}
<div class="tarefa-item card text-white bg-dark" id="tarefa-{{tarefa.0.pk}}"> <!--Dark-->
<h5 class="card-header tarefa-materia" id="tarefa-{{tarefa.0.pk}}-materia">{{tarefa.0.materia|title}}</h5>
<div class="card-body">
    <h5 class="tarefa-titulo" id="tarefa-{{tarefa.0.pk}}-titulo">
            <i class="fas fa-check" id="tarefa-{{tarefa.0.pk}}-titulo-check" style="display: none"></i>
            <i class="fas fa-exclamation-triangle" id="tarefa-{{tarefa.0.pk}}-titulo-warn" style="display: none"></i>
            {{tarefa.0.titulo|title}}</h5>
    <p>{{tarefa.0.descricao|truncatechars:236}}</p>
    <!--236 caracteres-->
    <div class="btn-group">
        <a href="{% url 'escola:detalhes-tarefa' tarefa.0.pk %}" class="btn btn-primary">Ver...</a>
        {% if comp %}
        <a href="{% url 'escola:concluir-tarefa' tarefa.0.pk %}" class="btn btn-primary tarefa-item-concluir-btn" id="tarefa-{{tarefa.0.pk}}-concluir-btn" data-id-tarefa="{{tarefa.0.id}}">
            <i class="fas fa-check" style="display: none" id="tarefa-{{tarefa.0.pk}}-concluir-btn-check"></i>
            <span  id="tarefa-{{tarefa.0.pk}}-concluir-btn-text">Concluir</span></a>
        {% endif %}
    </div>
</div>
<div class="card-footer text-muted">
    Até {{tarefa.0.deadline}}
</div>
</div>
<br />
{% endif %}
{% endfor %}
{% addtoblock "js" %}
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
        <script>
                function csrfSafeMethod(method) {
                    // these HTTP methods do not require CSRF protection
                    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
                }
                function bool_to_str(bool){
                    if(bool){
                        return 'Sim'
                    } else {
                        return 'Não'
                    }
                }
                function set_completacao_html(id, status){
                    if(status){
                        $('#tarefa-'+ id +'-materia').addClass("text-success")
                        $('#tarefa-'+ id +'-titulo').addClass("text-success")
                        $('#tarefa-'+ id +'-titulo-check').show()
                        $('#tarefa-'+ id +'-titulo-warn').hide()
                        $('#tarefa-'+ id +'-concluir-btn').addClass("btn-success")
                        $('#tarefa-'+ id +'-concluir-btn').removeClass("btn-primary")
                        $('#tarefa-'+ id +'-concluir-btn-check').show()
                        $('#tarefa-'+ id +'-concluir-btn-text').text('Concluido')
                    } else {
                        $('#tarefa-'+ id +'-materia').removeClass("text-success")
                        $('#tarefa-'+ id +'-titulo').removeClass("text-success")
                        $('#tarefa-'+ id +'-titulo-check').hide()

                        $('#tarefa-'+ id +'-concluir-btn').removeClass("btn-success")
                        $('#tarefa-'+ id +'-concluir-btn').addClass("btn-primary")
                        $('#tarefa-'+ id +'-concluir-btn-check').hide()
                        $('#tarefa-'+ id +'-concluir-btn-text').text('Concluir')
                    }
                }
                $('.tarefa-item-concluir-btn').on('click', function (event) {
                    event.preventDefault()
                    var csrftoken = Cookies.get('csrftoken');
                    var id_tarefa = $(this).attr('data-id-tarefa')
                    var url = "{% url 'escola:tarefa-set-as-finished' 1234561234%}".replace("1234561234", id_tarefa)
                    console.log(id_tarefa)
                    console.log(url)
                    $.ajax({
                        type: "POST",
                        headers:{  
                            "Accept":"application/json",//depends on your api
                            "Content-type":"application/x-www-form-urlencoded"//depends on your api
                        },
                        url: url,
                        beforeSend: function(xhr, settings) {
                            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                                xhr.setRequestHeader("X-CSRFToken", csrftoken);
                            }
                        },
                        success:function(response){
                            console.log(response);
                            r = response;
                            set_completacao_html(id_tarefa, r.concluido);
                        }
                      });
                  })
                </script>
{% endaddtoblock %}