<div class="table-responsive">
<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Título</th>
            <th>Matéria</th>
            <th>Tipo</th>
            <th>Descrição</th>
            <th>Data de Entrega</th>
            <th>Concluído</th>
            <th>Marcar como concluído</th>
            {%if perms.escola.can_edit_tarefa%}
            <th></th>
            {%endif%}
            {%if perms.escola.can_delete_tarefa%}
            <th></th>
            {%endif%}
        </tr>
    </thead>
    <tbody>
        {%for tarefa in tarefas%}
            <tr>
                <td><a href="{% url 'escola:detalhes-tarefa' tarefa.0.pk %}">{{tarefa.0.titulo}}</a></td>
                <td>{{tarefa.0.materia}}</td>
                <td>{{tarefa.0.get_tipo_display}}</td>
                <td>{{tarefa.0.descricao|truncatechars:30}}</td>
                <td>{{tarefa.0.deadline}}</td>
                <td>{{tarefa.1.completo|yesno:"Sim,Não,Hmmm:("}}</td>
                <td><a href="{% url 'escola:concluir-tarefa' tarefa.0.pk %}" class="btn btn-primary tarefa-item-concluir-btn" data-id-tarefa="{tarefa.id}">Concluir</a></td>
                {%if perms.escola.can_edit_cargo%}  <!--FIXME Permisões incoretas--> 
                <td><a href="{% url 'escola:edit-tarefa' tarefa.0.pk %}">EDIT</a></td>
                {%endif%}
                {%if perms.escola.can_delete_cargo%} <!--FIXME Permisões incoretas--> 
                <td><a href="{% url 'escola:delete-tarefa' tarefa.0.pk %}">DELETE</a></td>
                {%endif%}
            </tr>
        {%endfor%}
    </tbody>
        </table></div>
        <script>
                $('.tarefa-item-concluir-btn').on('click', function () {
                    var id_tarefa = $(this).attr('data-id-tarefa')
                    var url = "{% url 'escola:tarefa-set-as-finished' 1234561234%}".replace("1234561234", id_tarefa)
                    console.log(id_tarefa)
                    console.log(url)
                    $.ajax({
                        headers:{  
                            "Accept":"application/json",//depends on your api
                            "Content-type":"application/x-www-form-urlencoded"//depends on your api
                        },   url:url,
                        success:function(response){
                          var r=JSON.parse(response);
                        }
                      });
                    console.log(r)
                  })
                </script>