<!--  Context: turmas-hoje -->


<section id="section-resumo-professor">
  <h1>Resumo de Hoje({% now "SHORT_DATE_FORMAT" %})</h1>
  <div class="row">
    <!-- Turmas com aula no dia -->
    <div class="col-sm-2">
      <h5>Turmas</h5>
      <div class="btn-group-vertical" role="group">
        {% for mat in turmashoje %}
            <a href="{%url 'escola:detail-turma' mat.turma.id%}" class="btn btn-secondary">{{mat}}</a>
        {% endfor %}
      </div>
    </div>
    <div class="col-sm-4">
      <h5>Ferramentas</h5>
      <div class="btn-group-vertical" role="group">
          <!--<a href="{%url 'escola:aviso-add-turma' %}" class="btn btn-secondary">Enviar aviso turma</a>-->
          <a href="{%url 'escola:aviso-add-mixed' %}" class="btn btn-secondary">Enviar aviso</a>
          <a href="{%url 'escola:marcar-prova-materia' %}" class="btn btn-secondary">Marcar Prova</a>
      </div>
    </div>
    <!-- Provas -->
  </div>
</section>
