<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Presença da Sessão da {{casa}} na data {{sessao.data}}</title>
    <link href="../../static/voting/style.css" rel="stylesheet" type="text/css">
    {%load static%}
    <link href="{%static 'voting/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body id='lista_presenca'>
<h1>Relação de presença da Sessão nº {{sessao.pk}} da {{casa}} na data {{sessao.data}}</h1>
<div class="listagem">
    <div class="names">
        {%for cadeira in cadeiras%}
        {%if cadeira.user != None%}
        <li class="presenca_{%if cadeira.user in presentes%}presente{%else%}ausente{%endif%}">
            {{cadeira.user.first_name}} {{cadeira.user.last_name}}
        </li>
        {%endif%}
        {%endfor%}
    </div>
    <div class="info">
        Presentes: {{presentes|length}}/{{cadeiras|length}} <br/>
        Quorum: {{quorum|floatformat}} %
    </div>
</div>
</body>
</html>