<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Presença da Sessão da {{casa}} na data {{sessao.data}}</title>
    <link href="../../static/voting/style.css" rel="stylesheet" type="text/css">
    {%load static%}
    <link href="{%static 'voting/style.css'%}" rel="stylesheet" type="text/css">
</head>
<body id='lista_presenca'>
<h1>Relação de presença da Sessão nº {{sessao.pk}} da {{casa}} no {{sessao.data.day}}</h1>
<div class="listagem">
    <div class="names">
        {%for cadeira in cadeiras%}
        {%if cadeira.user != None%}
        <li class="presenca_{%if cadeira.user in presentes%}presente{%else%}ausente{%endif%}">
            {{cadeira.user.first_name}} {{cadeira.user.last_name}}
        </li>
        {%endif%}
        {%endfor%}
    </div>
    <div class="info">
        Presentes: {{presentes|length}}/{{cadeiras|length}} <br/>
        Quorum: {{quorum|floatformat}} %
    </div>
</div>

<script>


var loc = window.location
var wsStart = 'ws://'
if(loc.protocol == 'https:'){
    wsStart = 'wss://'
}
var endpoint =wsStart + loc.host +loc.pathname
var socket = new WebSocket(endpoint)

socket.onmessage = function(e){
    console.log("messege", e)
}
socket.onopen = function(e){
    console.log("open", e)
}
socket.onerror = function(e){
    console.log("error", e)
}
socket.onclose = function(e){
console.log("closed",e)
}

</script>
</body>
</html>